/* Ugly reset */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

/* Shared values */
:root,
html {
	--color-invert-bg: rgba(0, 0, 0, .66);
	--color-invert-link-off: white;
	--color-invert-link-on: deepskyblue;
	--content-width: 60ch;
	--content-bleed: calc((100vw - var(--content-width)) / 2);
}

/* Responsive font-size */
@media (min-width: 30rem) and (max-width: 100rem) {
	:root,
	html {
		font-size: calc(1rem + .4 * ((100vw - 30rem) / 70));
	}
}
@media (min-width: 100rem) {
	:root,
	html {
		font-size: 1.4rem;
	}
}

/* Main page "frame" */
body {
	font-family: 'Gudea', sans-serif;
	overflow-x: hidden;
}

#sapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-left: auto;
	margin-right: auto;
	width: var(--content-width);
	max-width: 100%;
	min-height: 100vh;
}

@media (min-width: 60ch) {
	.full-vw {
		margin-left: calc(var(--content-bleed) * -1);
		margin-right: calc(var(--content-bleed) * -1);
	}
	.full-vw--padded {
		padding-right: var(--content-bleed);
		padding-left: var(--content-bleed);
	}
}

/* Default tags */
img {
	display: inline-block;
	max-width: 100%;
}

a:visited {
	color: currentColor;
}
a:focus,
a:hover,
a.is-active {
	color: cornflowerblue;
}

hr {
	border: 0;
	height: 1px;
	/* background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0)); */
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

H1, h2, h3, h4, h5, h6 {
	margin-bottom: 1.5rem;
}

/* Generic utilities */

.f-grid {
	--gutter: .5em;
	--item-width: 5em;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
  justify-content: center;
	margin: calc(var(--gutter) * -1);
}
.f-grid > * {
	flex: 1 0 var(--item-width);
	margin: var(--gutter);
}

/**
 * Hide elements visually, but keep them available for screen-readers.
 *
 * Used for information required for screen-reader users to understand and use
 * the site where visual display is undesirable. Information provided in this
 * manner should be kept concise, to avoid unnecessary burden on the user.
 */
.u-sr-only {
	position: absolute;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
	margin: -1px;
	padding: 0;
	width: 1px;
	height: 1px;
}
